# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Nuxt content
ctx

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
*-lock.*

# Local env files
.env
.env.*
!.env.example
